<div class="pagination-container row">
    <div class="col-md-6">
    {{ arturdoruch_pagination_total_items(pagination) }}&nbsp;&nbsp;|&nbsp;&nbsp;
    {{ arturdoruch_pagination_displayed_items(pagination) }}
    </div>
    <div class="col-md-6 text-right">
    {{ arturdoruch_pagination(pagination) }}
    </div>
</div>
